<div class="card form-card ">
	<h3 class="card-header">New Investment Scenario</h3>
	<div class="card-body">
		<%= render partial: 'form', locals: { source: 'new' } %>
		<div style="padding-top: 5px;"><%= link_to "Back", :back, class: "btn btn-secondary" %></div>
	</div>
</div>




