<div class="dropdown">
	<div class="row">
		<div class="col-5">
		  <button class="btn btn-secondary dropdown-toggle dropdown-format" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  	<div class="dropdown-item"><%= render partial: 'form', locals: { source: 'edit' } %></div>
		  </div>

		  <button class="btn btn-secondary dropdown-toggle dropdown-format" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  	<div class="dropdown-item"><%= render partial: 'form', locals: { source: 'edit' } %></div>
		  </div>
		</div>
		<div class="col-5">
		  <button class="btn btn-secondary dropdown-toggle dropdown-format" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  	<div class="dropdown-item"><%= render partial: 'form', locals: { source: 'edit' } %></div>
		  </div>

		  <button class="btn btn-secondary dropdown-toggle dropdown-format" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  	<div class="dropdown-item"><%= render partial: 'form', locals: { source: 'edit' } %></div>
		  </div>
		</div>
	</div>
</div>